@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


p{
    margin-bottom: 0!important;
}
body{
    color: grey;
    
}
.brand{
    height: 90px;
    width: 90px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
}
    .location-list{
        position: relative;
      }
      
      .location-list > ul{
        position:  absolute;
        width: 100%;
    
      }

      .location-list > ul>li:hover{
        background-color: rgb(113, 113, 121);
        cursor: pointer;
      }

  

.background-img{
    background-image:linear-gradient(transparent,rgba(54, 5, 5, 0.795)),url(./main-bg.jpg) ;
  border: 0 black;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 55vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.sec-2-title{
    color: #192F60;
}
.sec-2-sub-title{
    color: #8C96AB;
    font-size: small;
}

.lunch{
    color: #192F60;
}
.lunch-desc{
    color: #8C96AB;
    font-size: small;
}
/********** bootstrap-restaurant-page*/
.restaurant-main-image {
    height: 70vh;
    overflow: hidden;
  }
  .restaurant-main-image img {
    height: 150%;
    width: 100%;
  }
  .btn-gallery {
    top: 85%;
    right: 5%;
    background-color: rgba(245, 222, 179, 0.411);
    color: black;
    font-weight: bold;
  }
  
  /* menu item  */
  .menu-food-item {
    width: 90px;
    height: 90px;
    background-color: #192f60;
    position: relative;
  }
  .menu-food-item .add {
    position: absolute;
    left: 25%;
    bottom: -20%;
  }
  .menu-food-item img {
    width: 100%;
    height: 100%;
  }
  .menu-food-item .order-item-count {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20%;
  }
  .menu-food-item .order-item-count span {
    background-color: white;
    padding: 2px 5px;
    border: 2px solid gray;
    margin: 0 2px;
  }
  /* search page end */
  
  /* iphone SE */
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    /* physical 960x640 
     480x320
  */
  
    .brand-name {
      width: 100px;
      height: 100px;
      font-size: 3.5rem;
    }
    .search {
      width: 100% !important;
      flex-direction: column;
      align-items: center;
    }
    .form-control,
    .input-group {
      width: 80% !important;
    }
  
    .main-section {
      background-color:red;
      height: auto;
      padding-bottom: 2rem;
      background-size: cover;
    }
    .quick-search-item {
      width: 100%;
      margin-bottom: 8px;
    }
  }